.navbar {
  background: #2b2d2f;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .content {
  margin-left: 12rem;
  margin-right: 12rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.navbar .content .item {
  padding: 10px;
}

.navbar .content .home {
  padding: 10px;
}

.navbar a:hover {
  color: #ffa500;
  font-style: bold;
}

.navbar a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a span {
  width: 20px;
  padding-right: 5px;
}

@media (max-width: 400px) {
  .home {
    display: none;
  }
}
