.postHeader {
  color: lightslategrey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 18px;
  margin-bottom: 0px;
  padding-bottom: 0;
}

.postHeader p {
  padding-right: 10px;
  margin-bottom: 0px;
  padding-bottom: 0;
}

.postTitle p {
  font-size: 24px;
  margin-top: 0;
  font-weight: bold;
}

.postDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin-bottom: 30px;
}

.postContainer {
  text-align: left;
}
